<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1 class="text-center text-info text-uppercase">Pick a planet:</h1>


<div class="container">
    <table class="table table-info table-striped text-white">
        <tr class="bg-info">
            <th>Planets</th>
            <th>Year Length <br>(in Earth days)</th>
            <th>Number <br>of Moons</th>
        </tr>
        <tr class="text-dark" th:each="planet : ${planets}">

            <td th:text="${planet.planetName}"></td>
            <td th:text="${planet.yearLength}"></td>
            <td th:text="${planet.numMoons}"></td>
        </tr>
    </table>
</div>
</body>
</html>